
<!-- S01 Activity -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- href >> routerLink -->
        <a class="navbar-brand" routerLink="/">AD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products">Products</a>
                </li>
            </ul>

            <!-- s02 -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                 <!-- hasToken true -->
                <div *ngIf="hasToken; else noToken">
                    <li class="nav-item dropdown">
                        <!-- <a class="nav-link dropdown-toggle" href="#" id="user-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">User Email</a> -->
                        <a class="nav-link dropdown-toggle" href="#" id="user-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ email }}</a>
                        <ul class="dropdown-menu" aria-labelledby="user-dropdown">
                            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                        </ul>

                    </li>
                </div>
                
                <!-- hasToken false -->
                <ng-template #noToken>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                </ng-template>
            </ul>
            
        </div>
    </div>
</nav>