<div class="vh-100">
    <div class="row justify-content-center align-items-center" style="height: 70vh;">
        <div class="col-8 col-md-3">
            <h3>Login</h3>
            <form (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <!-- With [(ngModel)], changes made in the input field are immediately reflected in the email property of the component, and changes made to the email property are immediately reflected in the input field.  -->
    
                    <!-- (ngModelChange)="email = $event": The (ngModelChange) event is used for event binding. It listens for changes in the input field's value (i.e., when the user types or modifies the email). When the input field's value changes, the $event object contains the new value of the input field. -->
                    <!-- 
                        The ngModel directive binds the value of the email property to the input field. This sets the initial value of the input field based on the value of the email property.
    
                        When the user interacts with the input field (e.g., types in a new email address), the (ngModelChange) event binding listens for changes in the input field's value.
    
                        When the user finishes typing (i.e., on the input field's change event), the (ngModelChange) event binding triggers the assigned function: email = $event.
    
                        The $event object contains the new value entered by the user in the input field. The value is then assigned to the email property of the component, effectively updating the email property to match the new value entered by the user.
                     -->
                    <!-- <input type="email" class="form-control" [ngModel]="email" (ngModelChange)="email = $event" name="email" required> -->
                    <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <!-- <input type="password" class="form-control" [ngModel]="password" (ngModelChange)="password = $event" name="password" required> -->
                    <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
                </div>
                <div style="text-align: right; margin-right: 10px; margin-top: 2px;" >
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
