<!-- s01 -->
<!-- s01 -->
<!-- <app-banner></app-banner> -->

<!-- s01 activity -->
<style>
    #contents{
        border-top: 1px solid white;

    }
    *{
        font-family: 'Montserrat', sans-serif;
    }
    
</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<app-navbar></app-navbar>
<div class="container-fluid mt-0 text-white bg-dark" id="contents" style="">
    <!-- <app-banner></app-banner>
    <app-highlights></app-highlights> -->
    <router-outlet></router-outlet>
</div>